@model proyecto_final_prog2.Infrastructure.Models.ColumnModel

<div class="row">
    <div class="form-group">
        <label asp-for="column_title" id="name">Nombre de la columna:</label>
        <input asp-for="column_title" class="form-control" />
        <span asp-validation-for="column_title" class="text-danger"></span>
    </div>
</div>
