@model proyecto_final_prog2.Infrastructure.Models.TagModel

<div class="row">
    <div class="form-group">
        <label asp-for="tag_name" id="name">Nombre de la etiqueta:</label>
        <input asp-for="tag_name" class="form-control" />
        <span asp-validation-for="tag_name" class="text-danger"></span>
    </div>
</div>
